@import '../../index.scss';

.Cart {
  &__title {
    font-family: $main-font-family;
    font-size: 2.6rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 4rem 0 3rem;
  }
  &__table {
    border-top: 3px solid black;
    border-bottom: 1px solid gainsboro;
  }
  &__price {
    .price-title {
      border-bottom: 3px solid black;
    }
    .price-box {
      background-color: #f4f4f4;
    }
    .price {
      border-bottom: 1px solid gainsboro;
    }
  }
  &__button {
    display: inline-block;

    margin: 0 3px;
    font-size: 20px;
    text-align: center;
    line-height: 66px;
    .choose-date {
      background: #2ac1bc;
      color: #fff;
      border: none;
      width: 300px;
      height: 66px;
    }
    .keep-shopping {
      background: #f4f4f4;
      border: 1px solid #bbb;
      color: #777;
      width: 300px;
      height: 66px;
    }
  }
}
