@import '../index.scss';

.category-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  background-color: #483f35;
}

.category {
  display: flex;
  justify-content: space-between;
  color: white;
  line-height: 50px;
  text-align: center;
  width: 965px;
}
