@import '../index.scss';

.footer-div {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.footer-container {
  border: 1px solid red;
  margin-top: 50px;
  width: 965px;
  height: 200px;
}

.footer-container a {
  color: rgb(100, 100, 100);
}

.footer-container a::after {
  content: '|';
  font-size: 1rem;
  color: rgb(200, 200, 200);
  margin: 0 10px;
}
