@import '../../index.scss';

.ItemDetail {
  &__content {
    position: relative;
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
  }
  &__detail--top {
    .detail--top-image {
      float: left;
      position: relative;
      width: 400px;
    }
    .detail--top-desc{
      font-family: $main-font-family;
      letter-spacing: -0.05em;
      position: relative;
      margin-left: 450px;
    }
  }
}
