@import '../../index.scss';

.mian-banner-container {
  width: 100%;
  overflow: hidden;
}
.img_container {
  margin-top: 50px;
  display: flex;
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex {
  display: flex;
  width: 965px;
}

.flex .firstImg {
  margin-right: 25px;
}
